<h1><%= @flat.name %></h1>
<hr />
<p><%= @flat.description %></p>
<hr />
<p><i class="fa-solid fa-dollar-sign"></i> : <%= @flat.price_per_night %></p>
<p><i class="fa-regular fa-user"></i> : <%= @flat.number_of_guests %></p>
